@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import "tailwindcss";

*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: 3rem 0 0 0;
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
    transition: .5s
}

a {
    text-decoration: none
}

.show {
    left: 0
}

.body-pd {
    padding-left: 5.25rem
}

footer {
    padding-left: 4.25rem;
}

@media screen and (min-width: 768px) {
    body {
        margin: 4rem 0 0 0;
        padding-left: 6.25rem
    }
    .show {
        width: 14rem
    }

    .body-pd {
        padding-left: 16rem
    }

    .show-footer {
        padding-left: 14rem;
    }
}